<mat-toolbar color="primary">
    <div  fxHide.gt-xs>
      <button mat-icon-button (click)="onToggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxLayout fxLayoutGap="10px">
      <div>Logo</div>
      <div>
        <ul fxLayout fxLayoutGap="10px" fxHide.xs class="navigation-items">
          <li><a routerLink="/welcome">Home </a></li>
          <li *ngIf="showAdminBoard"><a routerLink="/employee">Admin Board</a></li>
          <li *ngIf="showModeratorBoard"><a routerLink="/mod">Moderator Board</a></li>
          <li><a *ngIf="isLoggedIn" routerLink="/user">User</a></li>
        </ul>
      </div>
    </div>
    <!--<div fxFlex></div><div>-->
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs >
      <ul fxLayout fxLayoutGap="10px" class="navigation-items">
        <li><a *ngIf="!isLoggedIn" routerLink="/signup">Signup</a></li>
        <li><a *ngIf="!isLoggedIn" routerLink="/login">Login</a></li>
        <li><a *ngIf="isLoggedIn" routerLink="/profile">{{ username }}</a></li>
        <li><a style="cursor: pointer" *ngIf="isLoggedIn" (click)="onLogout()">LogOut</a></li>
      </ul>
    </div>
</mat-toolbar>