<form action=""
      fxLayout="column" 
      fxLayoutAlign="center center" 
      fxLayoutGap="10px"
      (ngSubmit) = "onSubmit()"
      >
      <h3> Create Employee </h3>
        <mat-form-field hintLabel="Field must not be empty." appearance="outline">
            <mat-label>FirstName</mat-label>
            <input matInput matNativeControl [(ngModel)] = "employee.firstName" name = "firstName">
        </mat-form-field>

        <mat-form-field hintLabel="Field must not be empty." appearance="outline">
            <mat-label>LastName</mat-label>
            <input matInput matNativeControl [(ngModel)] = "employee.lastName" name = "lastName">
        </mat-form-field>

        <mat-form-field hintLabel="Field must not be empty." appearance="outline">
            <mat-label>Age</mat-label>
            <input matInput matNativeControl [(ngModel)] = "employee.age" name = "age">
        </mat-form-field>

        <mat-form-field hintLabel="Field must not be empty." appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput matNativeControl [(ngModel)] = "employee.email" name = "email">
        </mat-form-field>

        <mat-form-field hintLabel="Field must not be empty." appearance="outline">
            <mat-label>Position</mat-label>
            <input matInput matNativeControl [(ngModel)] = "employee.position" name = "position">
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">Edit Employee</button>
</form>