<section class="singup-form">
    <form action=""     
          
          fxLayout="column" 
          fxLayoutAlign="center center" 
          fxLayoutGap="10px" 
          *ngIf="!isSuccessful"
          name="form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate>
        <mat-form-field>
            <input type="username" name="username" matInput placeholder="Your username" [(ngModel)]="form.username" #username="ngModel">
        </mat-form-field>

        <mat-form-field hintLabel="Field must not be empty.">
            <input 
              type="email" 
              name="email"
              matInput 
              placeholder="Your email" 
              [(ngModel)]="form.email" 
              email
              required
              #email="ngModel">
              <!--<mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required')">E-mail is invalid.</mat-error>-->
        </mat-form-field>

        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input 
              type="password"
              name="password" 
              matInput 
              placeholder="Your password" 
              [(ngModel)]="form.password" 
              required minlength="6"
              #password="ngModel">
              <!--<mat-hint>Should be at least 6 characters long.</mat-hint>-->
              <mat-error>Has to be at least 6 characters long.</mat-error>
        </mat-form-field>
        <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Signup</button>
        <div fxLayout fxLayoutAlign="center" class="alert-warning" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
    </form>
    <div fxLayout fxLayoutAlign="center" class="alert-success" *ngIf="isSuccessful">
        Your registration is successful! Please login!
      </div>
</section>