<h2 fxLayoutAlign="center"> Employee List</h2>

<div class="example-container mat-elevation-z8"   fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
  
<mat-table  [dataSource]="dataSource" matSort > 

    <ng-container matColumnDef="id" >
      <mat-header-cell mat-sort-header *matHeaderCellDef > Id </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Id</span> {{ element.id }}. 
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">First Name</span> {{ element.firstName }} 
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Last Name</span> {{ element.lastName }} 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="age">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Age</span> {{ element.age }} 
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="emailId">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Email </span> {{ element.email }} 
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="position">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> Position </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Position</span> {{ element.position }} 
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button (click) = "updateEmployee(row.id)" mat-icon-button><mat-icon>edit</mat-icon></button>
            <button (click) = "deleteEmployee(row.id)" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div> 
  