<h2 fxLayoutAlign="center"> Employee List</h2>

<div class="example-container mat-elevation-z8"   fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">
  
<mat-table  [dataSource]="dataSource"  > 

    <ng-container matColumnDef="id" >
      <mat-header-cell *matHeaderCellDef > Id </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Id</span> {{ element.id }}. 
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef> First Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">First Name</span> {{ element.firstName }} 
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef> Last Name </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Last Name</span> {{ element.lastName }} 
      </mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="emailId">
      <mat-header-cell *matHeaderCellDef> Email Id </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <span class="mobile-label">Email Id</span> {{ element.emailId }} 
      </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button (click) = "updateEmployee(row.id)" mat-icon-button><mat-icon>edit</mat-icon></button>
            <button (click) = "deleteEmployee(row.id)" mat-icon-button color="warn"><mat-icon>delete</mat-icon></button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>

<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageSizeOptions]="pageSizeOptions"
               (page)="pageEvent = $event">
</mat-paginator>
</div> 
  