<mat-toolbar fxLayoutAlign="right">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
   </button>
   <section>
   <div >
    <span class="example-spacer"></span>
    <button fxFlexAlign="right" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        Signup
    </button>
    <button  
    mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        Logout
    </button>
  </div>
  </section>
 </mat-toolbar>