<div fxLayoutAlign="center">
    <form class="form" fxLayout="column" fxLayout.gt-md="row">
        <input type="text" placeholder="Search employee by email" name="email" [(ngModel)]="email">
        <button (click)="findEmployeeByEmail()">Search Employee</button>
    </form>
</div>

<div class="example-container mat-elevation-z8"   fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="10px">

    <form 
        fxLayout="column" 
        fxLayout.gt-md="row"
        fxLayoutAlign="center center" 
        fxLayoutGap="10px"
        >
    <mat-form-field hintLabel="Field must not be empty." appearance="outline">
        <mat-label>FirstName</mat-label>
        <mat-card>{{employee.firstName}}</mat-card>
    </mat-form-field>

    <mat-form-field hintLabel="Field must not be empty." appearance="outline">
        <mat-label>LastName</mat-label>
        <mat-card>{{employee.lastName}}</mat-card>
    </mat-form-field>

    <mat-form-field hintLabel="Field must not be empty." appearance="outline">
        <mat-label>Age</mat-label>
        <mat-card>{{employee.age}}</mat-card>
    </mat-form-field>

    <mat-form-field hintLabel="Field must not be empty." appearance="outline">
        <mat-label>Email</mat-label>
        <mat-card>{{employee.email}}</mat-card>
    </mat-form-field>

    <mat-form-field hintLabel="Field must not be empty." appearance="outline">
        <mat-label>Position</mat-label>
        <mat-card>{{employee.position}}</mat-card>
        
    </mat-form-field>
    </form>
</div>